
$white: #ffffff;
$greye2: #e2e3e4;
$grey47: #474243;
$orange: #E64A19;

$primary-color: $grey47;

$regular-font-weight: 400;
$main-font-size: 17px;
$font-stack:'Roboto Condensed', sans-serif;
$main-line-height: 24px;