.button-up {
   position: fixed;
   bottom: 30px;
   right: 30px;   
   width: 32px;
   height: 32px;
   cursor: pointer;
   display:none;
}

@media (max-width: 768px) {
  .button-up {
    display: inline-block;
  }
}