.contact__title {
  @include second-title;
  text-align: center;
}

.contact__wrapper {
  padding-top: 100px;
  padding-bottom: 80px;
  width: 600px;
  display: flex;
  justify-content: space-around;
}

.contact__email {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.contact__phone {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.contacts__email-link {
  color: $primary-color;
  border-bottom: 2px solid $primary-color;
  font-size: 20px;

  &:hover {
    border-bottom: none;
    color: #ffc178;
  }
}

.contact__email-adress {
  // padding-bottom: 40px;
}
.contact__phone-number {
  font-size: 20px;
}