.main-nav {
}

.main-nav__list {
  @include list-reset;
  display: flex;
  width: 600px;
  justify-content: space-between;
  // padding-top: 40px;
}

.main-nav__link {
  color: $primary-color;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px solid $primary-color;

  &:hover {
    border-bottom: none;
    color: #fdeebb;
  }

  &:active {
    
  }
}