.my-works {
  background-color: #C7EBFC;
  // height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
}

.my-works__wrapper {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
      justify-content: space-between;
}

.my-works__description {
  width: 275px;
}

.my-works__title  {
  @include second-title;
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

.my-works__card {
  position: relative;
}

.my-works__info {
  position: absolute;
  width: 275px;
  height: 207px;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(253, 238, 187, 100);
  transition: all 1s;
  text-align: center;
  vertical-align: center;
}

.my-works__card:hover .my-works__info {
  opacity: 1;
}