.page-header {
  background-color: #B8E986;
  height: 100vh;
}

.page-header__wrapper {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

}

.page-header__title {
  letter-spacing: 3px;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: calc(50vh - 100px);

}