.social {
  @include list-reset ;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.social__item--vk {
  padding-right: 50px;
}

.social__icon {
  &:hover {
    fill: #ffc178;
  }

  &:active {
    fill: $orange;
  }
}